.wp-block-uagb-container {
    display: flex;
    position: relative;
    box-sizing: border-box;
    transition-property: box-shadow;
    transition-duration: 0.2s;
    transition-timing-function: ease
}

.wp-block-uagb-container .spectra-container-link-overlay {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 10
}

.wp-block-uagb-container.uagb-is-root-container {
    margin-left: auto;
    margin-right: auto
}

.wp-block-uagb-container.alignfull.uagb-is-root-container .uagb-container-inner-blocks-wrap {
    display: flex;
    position: relative;
    box-sizing: border-box;
    margin-left: auto !important;
    margin-right: auto !important
}

.wp-block-uagb-container .wp-block-uagb-blockquote,.wp-block-uagb-container .wp-block-spectra-pro-login,.wp-block-uagb-container .wp-block-spectra-pro-register {
    margin: unset
}

.wp-block-uagb-container .uagb-container__video-wrap {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: absolute;
    overflow: hidden;
    -webkit-transition: opacity 1s;
    -o-transition: opacity 1s;
    transition: opacity 1s
}

.wp-block-uagb-container .uagb-container__video-wrap video {
    max-width: 100%;
    width: 100%;
    height: 100%;
    margin: 0;
    line-height: 1;
    border: none;
    display: inline-block;
    vertical-align: baseline;
    -o-object-fit: cover;
    object-fit: cover;
    background-size: cover
}

.wp-block-uagb-container.uagb-layout-grid {
    display: grid;
    width: 100%
}

.wp-block-uagb-container.uagb-layout-grid>.uagb-container-inner-blocks-wrap {
    display: inherit;
    width: inherit
}

.wp-block-uagb-container.uagb-layout-grid>.uagb-container-inner-blocks-wrap>.wp-block-uagb-container {
    max-width: unset !important;
    width: unset !important
}

.wp-block-uagb-container.uagb-layout-grid>.wp-block-uagb-container {
    max-width: unset !important;
    width: unset !important
}

.wp-block-uagb-container.uagb-layout-grid.uagb-is-root-container {
    margin-left: auto;
    margin-right: auto
}

.wp-block-uagb-container.uagb-layout-grid.uagb-is-root-container>.wp-block-uagb-container {
    max-width: unset !important;
    width: unset !important
}

.wp-block-uagb-container.uagb-layout-grid.alignwide.uagb-is-root-container {
    margin-left: auto;
    margin-right: auto
}

.wp-block-uagb-container.uagb-layout-grid.alignfull.uagb-is-root-container .uagb-container-inner-blocks-wrap {
    display: inherit;
    position: relative;
    box-sizing: border-box;
    margin-left: auto !important;
    margin-right: auto !important
}

body .wp-block-uagb-container>.uagb-container-inner-blocks-wrap>*:not(.wp-block-uagb-container):not(.wp-block-uagb-column):not(.wp-block-uagb-container):not(.wp-block-uagb-section):not(.uagb-container__shape):not(.uagb-container__video-wrap):not(.wp-block-spectra-pro-register):not(.wp-block-spectra-pro-login):not(.uagb-slider-container):not(.spectra-image-gallery__control-lightbox):not(.wp-block-uagb-info-box),body .wp-block-uagb-container>.uagb-container-inner-blocks-wrap,body .wp-block-uagb-container>*:not(.wp-block-uagb-container):not(.wp-block-uagb-column):not(.wp-block-uagb-container):not(.wp-block-uagb-section):not(.uagb-container__shape):not(.uagb-container__video-wrap):not(.wp-block-spectra-pro-register):not(.wp-block-spectra-pro-login):not(.uagb-slider-container):not(.spectra-container-link-overlay):not(.spectra-image-gallery__control-lightbox):not(.wp-block-uagb-lottie):not(.uagb-faq__outer-wrap) {
    min-width: unset !important;
    width: 100%;
    position: relative
}

body .ast-container .wp-block-uagb-container>.uagb-container-inner-blocks-wrap>.wp-block-uagb-container>ul,body .ast-container .wp-block-uagb-container>.uagb-container-inner-blocks-wrap>.wp-block-uagb-container ol,body .ast-container .wp-block-uagb-container>.uagb-container-inner-blocks-wrap>ul,body .ast-container .wp-block-uagb-container>.uagb-container-inner-blocks-wrap ol {
    max-width: -webkit-fill-available;
    margin-block-start:0;margin-block-end:0;margin-left: 20px
}

.ast-plain-container .editor-styles-wrapper .block-editor-block-list__layout.is-root-container .uagb-is-root-container.wp-block-uagb-container.alignwide {
    margin-left: auto;
    margin-right: auto
}

.uagb-container__shape {
    overflow: hidden;
    position: absolute;
    left: 0;
    width: 100%;
    line-height: 0;
    direction: ltr
}

.uagb-container__shape-top {
    top: -3px
}

.uagb-container__shape-bottom {
    bottom: -3px
}

.uagb-container__shape.uagb-container__invert.uagb-container__shape-bottom,.uagb-container__shape.uagb-container__invert.uagb-container__shape-top {
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg)
}

.uagb-container__shape.uagb-container__shape-flip svg {
    transform: translateX(-50%) rotateY(180deg)
}

.uagb-container__shape svg {
    display: block;
    width: -webkit-calc(100% + 1.3px);
    width: calc(100% + 1.3px);
    position: relative;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%)
}

.uagb-container__shape .uagb-container__shape-fill {
    -webkit-transform-origin: center;
    -ms-transform-origin: center;
    transform-origin: center;
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg)
}

.uagb-container__shape.uagb-container__shape-above-content {
    z-index: 9;
    pointer-events: none
}

.nv-single-page-wrap .nv-content-wrap.entry-content .wp-block-uagb-container.alignfull {
    margin-left: calc(50% - 50vw);
    margin-right: calc(50% - 50vw)
}

@media only screen and (max-width: 767px) {
    .wp-block-uagb-container .wp-block-uagb-advanced-heading {
        width:-webkit-fill-available
    }
}

.wp-block-uagb-image--align-none {
    justify-content: center
}

.wp-block-uagb-advanced-heading h1,.wp-block-uagb-advanced-heading h2,.wp-block-uagb-advanced-heading h3,.wp-block-uagb-advanced-heading h4,.wp-block-uagb-advanced-heading h5,.wp-block-uagb-advanced-heading h6,.wp-block-uagb-advanced-heading p,.wp-block-uagb-advanced-heading div {
    word-break: break-word
}

.wp-block-uagb-advanced-heading .uagb-heading-text {
    margin: 0
}

.wp-block-uagb-advanced-heading .uagb-desc-text {
    margin: 0
}

.wp-block-uagb-advanced-heading .uagb-separator {
    font-size: 0;
    border-top-style: solid;
    display: inline-block;
    margin: 0 0 10px 0
}

.wp-block-uagb-advanced-heading .uagb-highlight {
    color: #f78a0c;
    border: 0;
    transition: all 0.3s ease
}

.uag-highlight-toolbar {
    border-left: 0;
    border-top: 0;
    border-bottom: 0;
    border-radius: 0;
    border-right-color: #1e1e1e
}

.uag-highlight-toolbar .components-button {
    border-radius: 0;
    outline: none
}

.uag-highlight-toolbar .components-button.is-primary {
    color: #fff
}

.uagb-buttons__outer-wrap .uagb-buttons__wrap {
    display: inline-flex;
    width: 100%
}

.uagb-buttons__outer-wrap.uagb-btn__small-btn .uagb-buttons-repeater.wp-block-button__link:not(.is-style-outline),.uagb-buttons__outer-wrap.uagb-btn__small-btn .uagb-buttons-repeater.ast-outline-button {
    padding: 5px 10px
}

.uagb-buttons__outer-wrap.uagb-btn__medium-btn .uagb-buttons-repeater.wp-block-button__link:not(.is-style-outline),.uagb-buttons__outer-wrap.uagb-btn__medium-btn .uagb-buttons-repeater.ast-outline-button {
    padding: 12px 24px
}

.uagb-buttons__outer-wrap.uagb-btn__large-btn .uagb-buttons-repeater.wp-block-button__link:not(.is-style-outline),.uagb-buttons__outer-wrap.uagb-btn__large-btn .uagb-buttons-repeater.ast-outline-button {
    padding: 20px 30px
}

.uagb-buttons__outer-wrap.uagb-btn__extralarge-btn .uagb-buttons-repeater.wp-block-button__link:not(.is-style-outline),.uagb-buttons__outer-wrap.uagb-btn__extralarge-btn .uagb-buttons-repeater.ast-outline-button {
    padding: 30px 65px
}

@media (max-width: 976px) {
    .uagb-buttons__outer-wrap.uagb-btn-tablet__small-btn .uagb-buttons-repeater.wp-block-button__link:not(.is-style-outline),.uagb-buttons__outer-wrap.uagb-btn-tablet__small-btn .uagb-buttons-repeater.ast-outline-button {
        padding:5px 10px
    }

    .uagb-buttons__outer-wrap.uagb-btn-tablet__medium-btn .uagb-buttons-repeater.wp-block-button__link:not(.is-style-outline),.uagb-buttons__outer-wrap.uagb-btn-tablet__medium-btn .uagb-buttons-repeater.ast-outline-button {
        padding: 12px 24px
    }

    .uagb-buttons__outer-wrap.uagb-btn-tablet__large-btn .uagb-buttons-repeater.wp-block-button__link:not(.is-style-outline),.uagb-buttons__outer-wrap.uagb-btn-tablet__large-btn .uagb-buttons-repeater.ast-outline-button {
        padding: 20px 30px
    }

    .uagb-buttons__outer-wrap.uagb-btn-tablet__extralarge-btn .uagb-buttons-repeater.wp-block-button__link:not(.is-style-outline),.uagb-buttons__outer-wrap.uagb-btn-tablet__extralarge-btn .uagb-buttons-repeater.ast-outline-button {
        padding: 30px 65px
    }
}

@media (max-width: 767px) {
    .uagb-buttons__outer-wrap.uagb-btn-mobile__small-btn .uagb-buttons-repeater.wp-block-button__link:not(.is-style-outline),.uagb-buttons__outer-wrap.uagb-btn-mobile__small-btn .uagb-buttons-repeater.ast-outline-button {
        padding:5px 10px
    }

    .uagb-buttons__outer-wrap.uagb-btn-mobile__medium-btn .uagb-buttons-repeater.wp-block-button__link:not(.is-style-outline),.uagb-buttons__outer-wrap.uagb-btn-mobile__medium-btn .uagb-buttons-repeater.ast-outline-button {
        padding: 12px 24px
    }

    .uagb-buttons__outer-wrap.uagb-btn-mobile__large-btn .uagb-buttons-repeater.wp-block-button__link:not(.is-style-outline),.uagb-buttons__outer-wrap.uagb-btn-mobile__large-btn .uagb-buttons-repeater.ast-outline-button {
        padding: 20px 30px
    }

    .uagb-buttons__outer-wrap.uagb-btn-mobile__extralarge-btn .uagb-buttons-repeater.wp-block-button__link:not(.is-style-outline),.uagb-buttons__outer-wrap.uagb-btn-mobile__extralarge-btn .uagb-buttons-repeater.ast-outline-button {
        padding: 30px 65px
    }
}

.uagb-buttons__outer-wrap .uagb-buttons-repeater {
    display: flex;
    justify-content: center;
    align-items: center;
    transition: box-shadow 0.2s ease
}

.uagb-buttons__outer-wrap .uagb-buttons-repeater a.uagb-button__link {
    display: flex;
    justify-content: center
}

.uagb-buttons__outer-wrap .uagb-buttons-repeater .uagb-button__icon {
    font-size: inherit;
    display: flex;
    align-items: center
}

.uagb-buttons__outer-wrap .uagb-buttons-repeater .uagb-button__icon svg {
    fill: currentColor;
    width: inherit;
    height: inherit
}

.wp-block-uagb-icon svg {
    width: 30px
}

.uagb-icon-wrapper .uagb-svg-wrapper {
    transition: box-shadow 0.2s ease
}

.wp-block-uagb-container.uagb-block-d451d96c .uagb-container__shape-top svg {
    width: calc( 100% + 1.3px );
}

.wp-block-uagb-container.uagb-block-d451d96c .uagb-container__shape.uagb-container__shape-top .uagb-container__shape-fill {
    fill: rgba(51,51,51,1);
}

.wp-block-uagb-container.uagb-block-d451d96c .uagb-container__shape-bottom svg {
    width: calc( 100% + 1.3px );
}

.wp-block-uagb-container.uagb-block-d451d96c .uagb-container__shape.uagb-container__shape-bottom .uagb-container__shape-fill {
    fill: rgba(51,51,51,1);
}

.wp-block-uagb-container.uagb-block-d451d96c .uagb-container__video-wrap video {
    opacity: 1;
}

.wp-block-uagb-container.uagb-is-root-container .uagb-block-d451d96c {
    max-width: 100%;
    width: 100%;
}

.wp-block-uagb-container.uagb-is-root-container.alignfull.uagb-block-d451d96c > .uagb-container-inner-blocks-wrap {
    --inner-content-custom-width: min( 100%, 1200px);
    max-width: var(--inner-content-custom-width);
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
}

.wp-block-uagb-container.uagb-block-d451d96c {
    min-height: 563px;
    box-shadow: 0px 0px #00000070 ;
    margin-top: -45px !important;
    margin-bottom: 0px !important;
    margin-left: 0px;
    margin-right: 0px;
    overflow: visible;
    order: initial;
    border-color: inherit;
    background-color: #000000;
    ;}

.wp-block-uagb-advanced-heading.uagb-block-ff8f6435.wp-block-uagb-advanced-heading .uagb-heading-text {
    color: #fa0400;
    background: linear-gradient(90deg,rgb(253, 2, 2) 63%,rgb(254,207,0) 68%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    filter: drop-shadow( );
}

.wp-block-uagb-advanced-heading.uagb-block-ff8f6435.wp-block-uagb-advanced-heading {
    text-align: center;
    margin-top: 8px;
    margin-right: 8px;
    margin-bottom: 8px;
    margin-left: 8px;
    padding-top: 4px;
    padding-right: 4px;
    padding-bottom: 4px;
    padding-left: 4px;
}

.wp-block-uagb-advanced-heading.uagb-block-ff8f6435.wp-block-uagb-advanced-heading .uagb-desc-text {
    margin-bottom: 15px;
}

.wp-block-uagb-advanced-heading.uagb-block-ff8f6435.wp-block-uagb-advanced-heading .uagb-highlight {
    font-style: normal;
    font-weight: Default;
    background: #007cba;
    color: #fff;
    -webkit-text-fill-color: #fff;
}

.wp-block-uagb-advanced-heading.uagb-block-ff8f6435.wp-block-uagb-advanced-heading .uagb-highlight::-moz-selection {
    color: #fff;
    background: #007cba;
    -webkit-text-fill-color: #fff;
}

.wp-block-uagb-advanced-heading.uagb-block-ff8f6435.wp-block-uagb-advanced-heading .uagb-highlight::selection {
    color: #fff;
    background: #007cba;
    -webkit-text-fill-color: #fff;
}

.wp-block-uagb-advanced-heading.uagb-block-ff8f6435 .uagb-heading-text {
    font-weight: 800;
    font-size: 60px;
}

.wp-block-uagb-advanced-heading.uagb-block-9b193071.wp-block-uagb-advanced-heading .uagb-heading-text {
    color: var(--base-2);
}

.wp-block-uagb-advanced-heading.uagb-block-9b193071.wp-block-uagb-advanced-heading {
    text-align: center;
    margin-top: 4px;
    margin-right: 4px;
    margin-bottom: 4px;
    margin-left: 4px;
    padding-top: 4px;
    padding-right: 4px;
    padding-bottom: 4px;
    padding-left: 4px;
}

.wp-block-uagb-advanced-heading.uagb-block-9b193071.wp-block-uagb-advanced-heading .uagb-desc-text {
    margin-bottom: 15px;
}

.wp-block-uagb-advanced-heading.uagb-block-9b193071.wp-block-uagb-advanced-heading .uagb-highlight {
    font-style: normal;
    font-weight: Default;
    background: #007cba;
    color: #fff;
    -webkit-text-fill-color: #fff;
}

.wp-block-uagb-advanced-heading.uagb-block-9b193071.wp-block-uagb-advanced-heading .uagb-highlight::-moz-selection {
    color: #fff;
    background: #007cba;
    -webkit-text-fill-color: #fff;
}

.wp-block-uagb-advanced-heading.uagb-block-9b193071.wp-block-uagb-advanced-heading .uagb-highlight::selection {
    color: #fff;
    background: #007cba;
    -webkit-text-fill-color: #fff;
}

.wp-block-uagb-advanced-heading.uagb-block-9b193071 .uagb-heading-text {
    font-weight: 600;
    font-size: 35px;
}

.uagb-block-dc019145.uagb-buttons__outer-wrap .uagb-buttons__wrap {
    justify-content: center;
    align-items: center;
}

.wp-block-uagb-buttons .uagb-block-cb1447b4 .wp-block-button__link {
    background: linear-gradient(135deg,rgb(255, 0, 0) 31%,rgb(255,209,0) 100%);
    ;background-clip: padding-box;
}

.wp-block-uagb-buttons .uagb-block-cb1447b4 .wp-block-button__link:hover {
    background: #fe0101;
}

.wp-block-uagb-buttons .uagb-block-cb1447b4 .wp-block-button__link:focus {
    background: #fe0101;
}

.wp-block-uagb-buttons .uagb-block-cb1447b4 .uagb-button__wrapper .uagb-buttons-repeater {
    font-weight: 700;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 80px;
    padding-right: 80px;
    color: #ffffff;
}

.wp-block-uagb-buttons .uagb-block-cb1447b4 .uagb-button__wrapper .uagb-buttons-repeater.wp-block-button__link {
    box-shadow: 0px 0px 0 #00000026;
}

.wp-block-uagb-buttons .uagb-block-cb1447b4 .uagb-button__wrapper .uagb-buttons-repeater.wp-block-button__link:hover {
    box-shadow: 0px 0px 0 #00000026;
}

.wp-block-uagb-buttons .uagb-block-cb1447b4 .uagb-buttons-repeater.wp-block-button__link {
    border-top-left-radius: 60px;
    border-top-right-radius: 60px;
    border-bottom-left-radius: 60px;
    border-bottom-right-radius: 60px;
    border-color: #333;
    border-style: none;
}

.wp-block-uagb-buttons .uagb-block-cb1447b4 .uagb-buttons-repeater.wp-block-button__link:hover {
    border-color: #333;
}

.wp-block-uagb-buttons .uagb-block-cb1447b4 .uagb-buttons-repeater.wp-block-button__link:focus {
    border-color: #333;
}

.wp-block-uagb-buttons .uagb-block-cb1447b4.wp-block-button.is-style-outline .uagb-button__wrapper .wp-block-button__link.uagb-buttons-repeater {
    border-top-left-radius: 60px;
    border-top-right-radius: 60px;
    border-bottom-left-radius: 60px;
    border-bottom-right-radius: 60px;
    border-color: #333;
    border-style: none;
}

.wp-block-uagb-buttons .uagb-block-cb1447b4.wp-block-button.is-style-outline .uagb-button__wrapper .wp-block-button__link.uagb-buttons-repeater:hover {
    border-color: #333;
}

.wp-block-uagb-buttons .uagb-block-cb1447b4 .uagb-buttons-repeater .uagb-button__link {
    color: #ffffff;
    font-weight: 700;
}

.wp-block-uagb-buttons .uagb-block-cb1447b4 .uagb-buttons-repeater .uagb-button__icon > svg {
    width: 15px;
    height: 15px;
    fill: #ffffff;
}

.wp-block-uagb-buttons .uagb-block-cb1447b4 .uagb-buttons-repeater .uagb-button__icon-position-after {
    margin-left: 8px;
}

.wp-block-uagb-buttons .uagb-block-cb1447b4 .uagb-buttons-repeater .uagb-button__icon-position-before {
    margin-right: 8px;
}

.wp-block-uagb-buttons .uagb-block-cb1447b4 .uagb-button__link {
    text-transform: normal;
    text-decoration: none;
    font-weight: 700;
}

.uagb-block-e7cb6604.uagb-icon-wrapper {
    text-align: center;
}

.uagb-block-e7cb6604.uagb-icon-wrapper .uagb-svg-wrapper a {
    display: contents;
}

.uagb-block-e7cb6604.uagb-icon-wrapper svg {
    width: 76px;
    height: 76px;
    transform: rotate(0deg);
    box-sizing: content-box;
    fill: #ffd000;
    filter: drop-shadow( 0px 0px 0px #00000070 );
}

.uagb-block-e7cb6604.uagb-icon-wrapper .uagb-svg-wrapper {
    display: inline-flex;
    padding-top: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    border-style: default;
    box-shadow: 0px 0px 0 #00000070 ;
}

.uagb-block-e7cb6604.uagb-icon-wrapper .uagb-svg-wrapper:hover {
    box-shadow: 0px 0px 0 #00000070 ;
}

.uagb-block-e7cb6604.uagb-icon-wrapper .uagb-svg-wrapper:focus-visible {
    box-shadow: 0px 0px 0 #00000070 ;
}

.uagb-block-e7cb6604.uagb-icon-wrapper.wp-block-uagb-icon--has-margin .uagb-icon-margin-wrapper {
    margin-top: 4px;
    margin-right: 4px;
    margin-bottom: 4px;
    margin-left: 4px;
}

.wp-block-uagb-advanced-heading.uagb-block-4d7fbf84.wp-block-uagb-advanced-heading .uagb-heading-text {
    color: #ffffff;
}

.wp-block-uagb-advanced-heading.uagb-block-4d7fbf84.wp-block-uagb-advanced-heading {
    text-align: center;
    margin-top: 4px;
    margin-right: 4px;
    margin-bottom: 4px;
    margin-left: 4px;
    padding-top: 4px;
    padding-right: 4px;
    padding-bottom: 4px;
    padding-left: 4px;
}

.wp-block-uagb-advanced-heading.uagb-block-4d7fbf84.wp-block-uagb-advanced-heading .uagb-desc-text {
    margin-bottom: 15px;
}

.wp-block-uagb-advanced-heading.uagb-block-4d7fbf84.wp-block-uagb-advanced-heading .uagb-highlight {
    font-style: normal;
    font-weight: Default;
    background: #007cba;
    color: #fff;
    -webkit-text-fill-color: #fff;
}

.wp-block-uagb-advanced-heading.uagb-block-4d7fbf84.wp-block-uagb-advanced-heading .uagb-highlight::-moz-selection {
    color: #fff;
    background: #007cba;
    -webkit-text-fill-color: #fff;
}

.wp-block-uagb-advanced-heading.uagb-block-4d7fbf84.wp-block-uagb-advanced-heading .uagb-highlight::selection {
    color: #fff;
    background: #007cba;
    -webkit-text-fill-color: #fff;
}

.wp-block-uagb-advanced-heading.uagb-block-4d7fbf84 .uagb-heading-text {
    font-weight: 800;
    font-size: 40px;
}

.uagb-block-f91434ce.uagb-buttons__outer-wrap .uagb-buttons__wrap {
    justify-content: center;
    align-items: center;
}

.wp-block-uagb-buttons .uagb-block-50b0a23d .wp-block-button__link {
    background: linear-gradient(135deg,rgb(255, 0, 0) 31%,rgb(255,209,0) 100%);
    ;background-clip: padding-box;
}

.wp-block-uagb-buttons .uagb-block-50b0a23d .wp-block-button__link:hover {
    background: #fe0101;
}

.wp-block-uagb-buttons .uagb-block-50b0a23d .wp-block-button__link:focus {
    background: #fe0101;
}

.wp-block-uagb-buttons .uagb-block-50b0a23d .uagb-button__wrapper .uagb-buttons-repeater {
    font-weight: 700;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 80px;
    padding-right: 80px;
    color: #ffffff;
}

.wp-block-uagb-buttons .uagb-block-50b0a23d .uagb-button__wrapper .uagb-buttons-repeater.wp-block-button__link {
    box-shadow: 0px 0px 0 #00000026;
}

.wp-block-uagb-buttons .uagb-block-50b0a23d .uagb-button__wrapper .uagb-buttons-repeater.wp-block-button__link:hover {
    box-shadow: 0px 0px 0 #00000026;
}

.wp-block-uagb-buttons .uagb-block-50b0a23d .uagb-buttons-repeater.wp-block-button__link {
    border-top-left-radius: 60px;
    border-top-right-radius: 60px;
    border-bottom-left-radius: 60px;
    border-bottom-right-radius: 60px;
    border-color: #333;
    border-style: none;
}

.wp-block-uagb-buttons .uagb-block-50b0a23d .uagb-buttons-repeater.wp-block-button__link:hover {
    border-color: #333;
}

.wp-block-uagb-buttons .uagb-block-50b0a23d .uagb-buttons-repeater.wp-block-button__link:focus {
    border-color: #333;
}

.wp-block-uagb-buttons .uagb-block-50b0a23d.wp-block-button.is-style-outline .uagb-button__wrapper .wp-block-button__link.uagb-buttons-repeater {
    border-top-left-radius: 60px;
    border-top-right-radius: 60px;
    border-bottom-left-radius: 60px;
    border-bottom-right-radius: 60px;
    border-color: #333;
    border-style: none;
}

.wp-block-uagb-buttons .uagb-block-50b0a23d.wp-block-button.is-style-outline .uagb-button__wrapper .wp-block-button__link.uagb-buttons-repeater:hover {
    border-color: #333;
}

.wp-block-uagb-buttons .uagb-block-50b0a23d .uagb-buttons-repeater .uagb-button__link {
    color: #ffffff;
    font-weight: 700;
}

.wp-block-uagb-buttons .uagb-block-50b0a23d .uagb-buttons-repeater .uagb-button__icon > svg {
    width: 15px;
    height: 15px;
    fill: #ffffff;
}

.wp-block-uagb-buttons .uagb-block-50b0a23d .uagb-buttons-repeater .uagb-button__icon-position-after {
    margin-left: 8px;
}

.wp-block-uagb-buttons .uagb-block-50b0a23d .uagb-buttons-repeater .uagb-button__icon-position-before {
    margin-right: 8px;
}

.wp-block-uagb-buttons .uagb-block-50b0a23d .uagb-button__link {
    text-transform: normal;
    text-decoration: none;
    font-weight: 700;
}

.wp-block-uagb-advanced-heading.uagb-block-96d41680.wp-block-uagb-advanced-heading .uagb-heading-text {
    color: #ffffff;
}

.wp-block-uagb-advanced-heading.uagb-block-96d41680.wp-block-uagb-advanced-heading {
    text-align: center;
}

.wp-block-uagb-advanced-heading.uagb-block-96d41680.wp-block-uagb-advanced-heading .uagb-desc-text {
    margin-bottom: 15px;
}

.wp-block-uagb-advanced-heading.uagb-block-96d41680.wp-block-uagb-advanced-heading .uagb-highlight {
    font-style: normal;
    font-weight: Default;
    background: #007cba;
    color: #fff;
    -webkit-text-fill-color: #fff;
}

.wp-block-uagb-advanced-heading.uagb-block-96d41680.wp-block-uagb-advanced-heading .uagb-highlight::-moz-selection {
    color: #fff;
    background: #007cba;
    -webkit-text-fill-color: #fff;
}

.wp-block-uagb-advanced-heading.uagb-block-96d41680.wp-block-uagb-advanced-heading .uagb-highlight::selection {
    color: #fff;
    background: #007cba;
    -webkit-text-fill-color: #fff;
}

.wp-block-uagb-advanced-heading.uagb-block-96d41680 .uagb-heading-text {
    font-weight: 800;
    font-size: 50px;
}

.wp-block-uagb-advanced-heading.uagb-block-dc62f3cd.wp-block-uagb-advanced-heading .uagb-heading-text {
    color: #ffffff;
}

.wp-block-uagb-advanced-heading.uagb-block-dc62f3cd.wp-block-uagb-advanced-heading {
    text-align: center;
}

.wp-block-uagb-advanced-heading.uagb-block-dc62f3cd.wp-block-uagb-advanced-heading .uagb-desc-text {
    margin-bottom: 15px;
}

.wp-block-uagb-advanced-heading.uagb-block-dc62f3cd.wp-block-uagb-advanced-heading .uagb-highlight {
    font-style: normal;
    font-weight: Default;
    background: #007cba;
    color: #fff;
    -webkit-text-fill-color: #fff;
}

.wp-block-uagb-advanced-heading.uagb-block-dc62f3cd.wp-block-uagb-advanced-heading .uagb-highlight::-moz-selection {
    color: #fff;
    background: #007cba;
    -webkit-text-fill-color: #fff;
}

.wp-block-uagb-advanced-heading.uagb-block-dc62f3cd.wp-block-uagb-advanced-heading .uagb-highlight::selection {
    color: #fff;
    background: #007cba;
    -webkit-text-fill-color: #fff;
}

.wp-block-uagb-advanced-heading.uagb-block-dc62f3cd .uagb-heading-text {
    font-weight: 800;
    font-size: 50px;
}

@media only screen and (max-width: 976px) {
    .wp-block-uagb-container.uagb-is-root-container .uagb-block-d451d96c {
        width: 100%;
    }

    .wp-block-uagb-container.uagb-is-root-container.alignfull.uagb-block-d451d96c > .uagb-container-inner-blocks-wrap {
        --inner-content-custom-width: min( 100%, 1024px);
        max-width: var(--inner-content-custom-width);
        width: 100%;
    }

    .wp-block-uagb-container.uagb-block-d451d96c {
        margin-top: -45px !important;
        margin-bottom: 0px !important;
        margin-left: 0px;
        margin-right: 0px;
        order: initial;
        background-color: #000000;
        ;}

    .uagb-block-dc019145.uagb-buttons__outer-wrap .uagb-buttons__wrap {
        justify-content: center;
        align-items: center;
    }

    .uagb-block-dc019145.uagb-buttons__outer-wrap .uagb-buttons__wrap .wp-block-button {
        width: auto;
    }

    .wp-block-uagb-buttons .uagb-block-cb1447b4 .wp-block-button__link {
        background: linear-gradient(135deg,rgb(255, 136, 0) 31%,rgb(255,209,0) 100%);
        ;background-clip: padding-box;
    }

    .wp-block-uagb-buttons .uagb-block-cb1447b4.wp-block-button.is-style-outline .uagb-button__wrapper .wp-block-button__link.uagb-buttons-repeater {
        border-style: none;
        border-color: #333;
    }

    .wp-block-uagb-buttons .uagb-block-cb1447b4 .uagb-buttons-repeater.wp-block-button__link {
        border-style: none;
        border-color: #333;
    }

    .uagb-block-e7cb6604.uagb-icon-wrapper .uagb-svg-wrapper {
        display: inline-flex;
    }

    .uagb-block-f91434ce.uagb-buttons__outer-wrap .uagb-buttons__wrap {
        justify-content: center;
        align-items: center;
    }

    .uagb-block-f91434ce.uagb-buttons__outer-wrap .uagb-buttons__wrap .wp-block-button {
        width: auto;
    }

    .wp-block-uagb-buttons .uagb-block-50b0a23d .wp-block-button__link {
        background: linear-gradient(135deg,rgb(255, 0, 0) 31%,rgb(255,209,0) 100%);
        ;background-clip: padding-box;
    }

    .wp-block-uagb-buttons .uagb-block-50b0a23d.wp-block-button.is-style-outline .uagb-button__wrapper .wp-block-button__link.uagb-buttons-repeater {
        border-style: none;
        border-color: #333;
    }

    .wp-block-uagb-buttons .uagb-block-50b0a23d .uagb-buttons-repeater.wp-block-button__link {
        border-style: none;
        border-color: #333;
    }
}

@media only screen and (max-width: 767px) {
    .wp-block-uagb-container.uagb-is-root-container .uagb-block-d451d96c {
        max-width: 100%;
        width: 100%;
    }

    .wp-block-uagb-container.uagb-is-root-container.alignfull.uagb-block-d451d96c > .uagb-container-inner-blocks-wrap {
        --inner-content-custom-width: min( 100%, 767px);
        max-width: var(--inner-content-custom-width);
        width: 100%;
        flex-wrap: wrap;
    }

    .wp-block-uagb-container.uagb-block-d451d96c {
        margin-top: -45px !important;
        margin-bottom: 0px !important;
        margin-left: 0px;
        margin-right: 0px;
        order: initial;
        background-color: #000000;
        ;}

    .wp-block-uagb-advanced-heading.uagb-block-ff8f6435 .uagb-heading-text {
        font-size: 35px;
    }

    .wp-block-uagb-advanced-heading.uagb-block-9b193071 .uagb-heading-text {
        font-size: 23px;
    }

    .uagb-block-dc019145.uagb-buttons__outer-wrap .uagb-buttons__wrap {
        justify-content: center;
        align-items: center;
    }

    .uagb-block-dc019145.uagb-buttons__outer-wrap .uagb-buttons__wrap .wp-block-button {
        width: auto;
    }

    .wp-block-uagb-buttons .uagb-block-cb1447b4 .wp-block-button__link {
        background: linear-gradient(135deg,rgb(255, 0, 0) 31%,rgb(255,209,0) 100%);
        ;background-clip: padding-box;
    }

    .wp-block-uagb-buttons .uagb-block-cb1447b4.wp-block-button.is-style-outline .uagb-button__wrapper .wp-block-button__link.uagb-buttons-repeater {
        border-style: none;
        border-color: #333;
    }

    .wp-block-uagb-buttons .uagb-block-cb1447b4 .uagb-buttons-repeater.wp-block-button__link {
        border-style: none;
        border-color: #333;
    }

    .uagb-block-e7cb6604.uagb-icon-wrapper .uagb-svg-wrapper {
        display: inline-flex;
    }

    .uagb-block-f91434ce.uagb-buttons__outer-wrap .uagb-buttons__wrap {
        justify-content: center;
        align-items: center;
    }

    .uagb-block-f91434ce.uagb-buttons__outer-wrap .uagb-buttons__wrap .wp-block-button {
        width: auto;
    }

    .wp-block-uagb-buttons .uagb-block-50b0a23d .wp-block-button__link {
        background: linear-gradient(135deg,rgb(255, 0, 0) 31%,rgb(255,209,0) 100%);
        ;background-clip: padding-box;
    }

    .wp-block-uagb-buttons .uagb-block-50b0a23d.wp-block-button.is-style-outline .uagb-button__wrapper .wp-block-button__link.uagb-buttons-repeater {
        border-style: none;
        border-color: #333;
    }

    .wp-block-uagb-buttons .uagb-block-50b0a23d .uagb-buttons-repeater.wp-block-button__link {
        border-style: none;
        border-color: #333;
    }

    .wp-block-uagb-advanced-heading.uagb-block-96d41680 .uagb-heading-text {
        font-size: 30px;
    }

    .wp-block-uagb-advanced-heading.uagb-block-dc62f3cd .uagb-heading-text {
        font-size: 30px;
    }
}

.uag-blocks-common-selector {
    z-index: var(--z-index-desktop) !important
}

@media (max-width: 976px) {
    .uag-blocks-common-selector {
        z-index:var(--z-index-tablet) !important
    }
}

@media (max-width: 767px) {
    .uag-blocks-common-selector {
        z-index:var(--z-index-mobile) !important
    }
}

.wp-block-uagb-image {
    display: flex
}

.wp-block-uagb-image__figure {
    position: relative;
    display: flex;
    flex-direction: column;
    max-width: 100%;
    height: auto;
    margin: 0
}

.wp-block-uagb-image__figure img {
    height: auto;
    display: flex;
    max-width: 100%;
    transition: box-shadow 0.2s ease
}

.wp-block-uagb-image__figure>a {
    display: inline-block
}

.wp-block-uagb-image__figure figcaption {
    text-align: center;
    margin-top: 0.5em;
    margin-bottom: 1em
}

.wp-block-uagb-image .components-placeholder.block-editor-media-placeholder .components-placeholder__instructions {
    align-self: center
}

.wp-block-uagb-image--align-left {
    text-align: left
}

.wp-block-uagb-image--align-right {
    text-align: right
}

.wp-block-uagb-image--align-center {
    text-align: center
}

.wp-block-uagb-image--align-full .wp-block-uagb-image__figure {
    margin-left: calc(50% - 50vw);
    margin-right: calc(50% - 50vw);
    max-width: 100vw;
    width: 100vw;
    height: auto
}

.wp-block-uagb-image--align-full .wp-block-uagb-image__figure img {
    height: auto;
    width: 100% !important
}

.wp-block-uagb-image--align-wide .wp-block-uagb-image__figure img {
    height: auto;
    width: 100%
}

.wp-block-uagb-image--layout-overlay__color-wrapper {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    opacity: 0.2;
    background: rgba(0,0,0,0.5);
    transition: opacity 0.35s ease-in-out
}

.wp-block-uagb-image--layout-overlay-link {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0
}

.wp-block-uagb-image--layout-overlay .wp-block-uagb-image__figure:hover .wp-block-uagb-image--layout-overlay__color-wrapper {
    opacity: 1
}

.wp-block-uagb-image--layout-overlay__inner {
    position: absolute;
    left: 15px;
    right: 15px;
    bottom: 15px;
    top: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-color: #fff;
    transition: 0.35s ease-in-out
}

.wp-block-uagb-image--layout-overlay__inner.top-left,.wp-block-uagb-image--layout-overlay__inner.top-center,.wp-block-uagb-image--layout-overlay__inner.top-right {
    justify-content: flex-start
}

.wp-block-uagb-image--layout-overlay__inner.bottom-left,.wp-block-uagb-image--layout-overlay__inner.bottom-center,.wp-block-uagb-image--layout-overlay__inner.bottom-right {
    justify-content: flex-end
}

.wp-block-uagb-image--layout-overlay__inner.top-left,.wp-block-uagb-image--layout-overlay__inner.center-left,.wp-block-uagb-image--layout-overlay__inner.bottom-left {
    align-items: flex-start
}

.wp-block-uagb-image--layout-overlay__inner.top-right,.wp-block-uagb-image--layout-overlay__inner.center-right,.wp-block-uagb-image--layout-overlay__inner.bottom-right {
    align-items: flex-end
}

.wp-block-uagb-image--layout-overlay__inner .uagb-image-heading {
    color: #fff;
    transition: transform 0.35s, opacity 0.35s ease-in-out;
    transform: translate3d(0, 24px, 0);
    margin: 0;
    line-height: 1em
}

.wp-block-uagb-image--layout-overlay__inner .uagb-image-separator {
    width: 30%;
    border-top-width: 2px;
    border-top-color: #fff;
    border-top-style: solid;
    margin-bottom: 10px;
    opacity: 0;
    transition: transform 0.4s, opacity 0.4s ease-in-out;
    transform: translate3d(0, 30px, 0)
}

.wp-block-uagb-image--layout-overlay__inner .uagb-image-caption {
    opacity: 0;
    overflow: visible;
    color: #fff;
    transition: transform 0.45s, opacity 0.45s ease-in-out;
    transform: translate3d(0, 35px, 0)
}

.wp-block-uagb-image--layout-overlay__inner:hover .uagb-image-heading,.wp-block-uagb-image--layout-overlay__inner:hover .uagb-image-separator,.wp-block-uagb-image--layout-overlay__inner:hover .uagb-image-caption {
    opacity: 1;
    transform: translate3d(0, 0, 0)
}

.wp-block-uagb-image--effect-zoomin .wp-block-uagb-image__figure img,.wp-block-uagb-image--effect-zoomin .wp-block-uagb-image__figure .wp-block-uagb-image--layout-overlay__color-wrapper {
    transform: scale(1);
    transition: transform 0.35s ease-in-out
}

.wp-block-uagb-image--effect-zoomin .wp-block-uagb-image__figure:hover img,.wp-block-uagb-image--effect-zoomin .wp-block-uagb-image__figure:hover .wp-block-uagb-image--layout-overlay__color-wrapper {
    transform: scale(1.05)
}

.wp-block-uagb-image--effect-slide .wp-block-uagb-image__figure img,.wp-block-uagb-image--effect-slide .wp-block-uagb-image__figure .wp-block-uagb-image--layout-overlay__color-wrapper {
    width: calc(100% + 40px) !important;
    max-width: none !important;
    transform: translate3d(-40px, 0, 0);
    transition: transform 0.35s ease-in-out
}

.wp-block-uagb-image--effect-slide .wp-block-uagb-image__figure:hover img,.wp-block-uagb-image--effect-slide .wp-block-uagb-image__figure:hover .wp-block-uagb-image--layout-overlay__color-wrapper {
    transform: translate3d(0, 0, 0)
}

.wp-block-uagb-image--effect-grayscale img {
    filter: grayscale(0%);
    transition: 0.35s ease-in-out
}

.wp-block-uagb-image--effect-grayscale:hover img {
    filter: grayscale(100%)
}

.wp-block-uagb-image--effect-blur img {
    filter: blur(0);
    transition: 0.35s ease-in-out
}

.wp-block-uagb-image--effect-blur:hover img {
    filter: blur(3px)
}

.uagb-block-1afaa6ec.wp-block-uagb-image {
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
}

.uagb-block-1afaa6ec.wp-block-uagb-image--layout-default figure img {
    box-shadow: 0px 0px 0 #00000070;
}

.uagb-block-1afaa6ec.wp-block-uagb-image .wp-block-uagb-image__figure figcaption {
    font-style: normal;
    align-self: center;
}

.uagb-block-1afaa6ec.wp-block-uagb-image--layout-overlay figure img {
    box-shadow: 0px 0px 0 #00000070;
}

.uagb-block-1afaa6ec.wp-block-uagb-image--layout-overlay .wp-block-uagb-image--layout-overlay__color-wrapper {
    opacity: 0.2;
}

.uagb-block-1afaa6ec.wp-block-uagb-image--layout-overlay .wp-block-uagb-image--layout-overlay__inner {
    left: 15px;
    right: 15px;
    top: 15px;
    bottom: 15px;
}

.uagb-block-1afaa6ec.wp-block-uagb-image--layout-overlay .wp-block-uagb-image--layout-overlay__inner .uagb-image-heading {
    font-style: normal;
    color: #fff;
    opacity: 1;
}

.uagb-block-1afaa6ec.wp-block-uagb-image--layout-overlay .wp-block-uagb-image--layout-overlay__inner .uagb-image-heading a {
    color: #fff;
}

.uagb-block-1afaa6ec.wp-block-uagb-image--layout-overlay .wp-block-uagb-image--layout-overlay__inner .uagb-image-caption {
    opacity: 0;
}

.uagb-block-1afaa6ec.wp-block-uagb-image--layout-overlay .wp-block-uagb-image__figure:hover .wp-block-uagb-image--layout-overlay__color-wrapper {
    opacity: 1;
}

.uagb-block-1afaa6ec.wp-block-uagb-image .wp-block-uagb-image--layout-overlay__inner .uagb-image-separator {
    width: 30%;
    border-top-width: 2px;
    border-top-color: #fff;
    opacity: 0;
}

.uagb-block-1afaa6ec.wp-block-uagb-image .wp-block-uagb-image__figure img {
    width: px;
    height: auto;
}

.uagb-block-1afaa6ec.wp-block-uagb-image .wp-block-uagb-image__figure:hover .wp-block-uagb-image--layout-overlay__inner .uagb-image-caption {
    opacity: 1;
}

.uagb-block-1afaa6ec.wp-block-uagb-image .wp-block-uagb-image__figure:hover .wp-block-uagb-image--layout-overlay__inner .uagb-image-separator {
    opacity: 1;
}

.uagb-block-1afaa6ec.wp-block-uagb-image--layout-default figure:hover img {
    box-shadow: 0px 0px 0 #00000070;
}

.uagb-block-1afaa6ec.wp-block-uagb-image--layout-overlay figure:hover img {
    box-shadow: 0px 0px 0 #00000070;
}

@media only screen and (max-width: 976px) {
    .uagb-block-1afaa6ec.wp-block-uagb-image .wp-block-uagb-image__figure img {
        width: px;
        height: auto;
    }
}

@media only screen and (max-width: 767px) {
    .uagb-block-1afaa6ec.wp-block-uagb-image .wp-block-uagb-image__figure img {
        width: px;
        height: auto;
    }
}

.wp-block-uagb-advanced-heading.uagb-block-eb913f20.wp-block-uagb-advanced-heading .uagb-heading-text {
    color: var(--ast-global-color-5);
}

.wp-block-uagb-advanced-heading.uagb-block-eb913f20.wp-block-uagb-advanced-heading {
    margin-top: -29px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
}

.wp-block-uagb-advanced-heading.uagb-block-eb913f20.wp-block-uagb-advanced-heading .uagb-desc-text {
    margin-bottom: 15px;
}

.wp-block-uagb-advanced-heading.uagb-block-eb913f20.wp-block-uagb-advanced-heading .uagb-highlight {
    font-style: normal;
    font-weight: Default;
    background: #007cba;
    color: #fff;
    -webkit-text-fill-color: #fff;
}

.wp-block-uagb-advanced-heading.uagb-block-eb913f20.wp-block-uagb-advanced-heading .uagb-highlight::-moz-selection {
    color: #fff;
    background: #007cba;
    -webkit-text-fill-color: #fff;
}

.wp-block-uagb-advanced-heading.uagb-block-eb913f20.wp-block-uagb-advanced-heading .uagb-highlight::selection {
    color: #fff;
    background: #007cba;
    -webkit-text-fill-color: #fff;
}

.wp-block-uagb-advanced-heading.uagb-block-97eb29cd.wp-block-uagb-advanced-heading .uagb-heading-text {
    color: var(--ast-global-color-5);
}

.wp-block-uagb-advanced-heading.uagb-block-97eb29cd.wp-block-uagb-advanced-heading .uagb-desc-text {
    margin-bottom: 15px;
}

.wp-block-uagb-advanced-heading.uagb-block-97eb29cd.wp-block-uagb-advanced-heading .uagb-highlight {
    font-style: normal;
    font-weight: Default;
    background: #007cba;
    color: #fff;
    -webkit-text-fill-color: #fff;
}

.wp-block-uagb-advanced-heading.uagb-block-97eb29cd.wp-block-uagb-advanced-heading .uagb-highlight::-moz-selection {
    color: #fff;
    background: #007cba;
    -webkit-text-fill-color: #fff;
}

.wp-block-uagb-advanced-heading.uagb-block-97eb29cd.wp-block-uagb-advanced-heading .uagb-highlight::selection {
    color: #fff;
    background: #007cba;
    -webkit-text-fill-color: #fff;
}

.wp-block-uagb-advanced-heading.uagb-block-97eb29cd .uagb-heading-text {
    font-weight: 400;
    font-size: 22px;
    margin-bottom: 22px;
}

.uagb-block-b5ba9604.wp-block-uagb-buttons.uagb-buttons__outer-wrap .uagb-buttons__wrap {
    gap: 10px;
}

.uagb-block-b5ba9604.uagb-buttons__outer-wrap .uagb-buttons__wrap {
    justify-content: center;
    align-items: center;
}

.wp-block-uagb-buttons .uagb-block-94b6bc9b .uagb-button__wrapper .uagb-buttons-repeater.wp-block-button__link {
    box-shadow: 0px 0px 0 #00000026;
}

.wp-block-uagb-buttons .uagb-block-94b6bc9b .uagb-button__wrapper .uagb-buttons-repeater.wp-block-button__link:hover {
    box-shadow: 0px 0px 0 #00000026;
}

.wp-block-uagb-buttons .uagb-block-94b6bc9b .uagb-buttons-repeater.wp-block-button__link {
    border-top-width: 1px;
    border-left-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-color: #333;
    border-style: solid;
}

.wp-block-uagb-buttons .uagb-block-94b6bc9b .uagb-buttons-repeater.wp-block-button__link:hover {
    border-color: #333;
}

.wp-block-uagb-buttons .uagb-block-94b6bc9b .uagb-buttons-repeater.wp-block-button__link:focus {
    border-color: #333;
}

.wp-block-uagb-buttons .uagb-block-94b6bc9b.wp-block-button.is-style-outline .uagb-button__wrapper .wp-block-button__link.uagb-buttons-repeater {
    border-top-width: 1px;
    border-left-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-color: #333;
    border-style: solid;
}

.wp-block-uagb-buttons .uagb-block-94b6bc9b.wp-block-button.is-style-outline .uagb-button__wrapper .wp-block-button__link.uagb-buttons-repeater:hover {
    border-color: #333;
}

.wp-block-uagb-buttons .uagb-block-94b6bc9b .uagb-buttons-repeater .uagb-button__icon > svg {
    width: 15px;
    height: 15px;
}

.wp-block-uagb-buttons .uagb-block-94b6bc9b .uagb-buttons-repeater .uagb-button__icon-position-after {
    margin-left: 8px;
}

.wp-block-uagb-buttons .uagb-block-94b6bc9b .uagb-buttons-repeater .uagb-button__icon-position-before {
    margin-right: 8px;
}

.wp-block-uagb-buttons .uagb-block-94b6bc9b .uagb-button__link {
    text-transform: normal;
    text-decoration: none;
}

@media only screen and (max-width: 976px) {
    .uagb-block-b5ba9604.uagb-buttons__outer-wrap .uagb-buttons__wrap {
        justify-content: center;
        align-items: center;
    }

    .uagb-block-b5ba9604.uagb-buttons__outer-wrap .uagb-buttons__wrap .wp-block-button {
        width: auto;
    }

    .wp-block-uagb-buttons .uagb-block-94b6bc9b.wp-block-button.is-style-outline .uagb-button__wrapper .wp-block-button__link.uagb-buttons-repeater {
        border-style: solid;
        border-color: #333;
    }

    .wp-block-uagb-buttons .uagb-block-94b6bc9b .uagb-buttons-repeater.wp-block-button__link {
        border-style: solid;
        border-color: #333;
    }
}

@media only screen and (max-width: 767px) {
    .uagb-block-b5ba9604.uagb-buttons__outer-wrap .uagb-buttons__wrap {
        justify-content: center;
        align-items: center;
    }

    .uagb-block-b5ba9604.uagb-buttons__outer-wrap .uagb-buttons__wrap .wp-block-button {
        width: auto;
    }

    .wp-block-uagb-buttons .uagb-block-94b6bc9b.wp-block-button.is-style-outline .uagb-button__wrapper .wp-block-button__link.uagb-buttons-repeater {
        border-style: solid;
        border-color: #333;
    }

    .wp-block-uagb-buttons .uagb-block-94b6bc9b .uagb-buttons-repeater.wp-block-button__link {
        border-style: solid;
        border-color: #333;
    }
}

.uagb-block-0a891d76.wp-block-uagb-buttons.uagb-buttons__outer-wrap .uagb-buttons__wrap {
    gap: 10px;
}

.uagb-block-0a891d76.uagb-buttons__outer-wrap .uagb-buttons__wrap {
    justify-content: center;
    align-items: center;
}

.wp-block-uagb-buttons .uagb-block-93c1b2d1.wp-block-uagb-buttons-child .uagb-buttons-repeater {
    background: #ff0000;
}

.wp-block-uagb-buttons .uagb-block-93c1b2d1 .wp-block-button__link {
    background: #ff0000;
}

.wp-block-uagb-buttons .uagb-block-93c1b2d1 .wp-block-button__link:hover {
    background: #ff0000;
}

.wp-block-uagb-buttons .uagb-block-93c1b2d1 .wp-block-button__link:focus {
    background: #ff0000;
}

.wp-block-uagb-buttons .uagb-block-93c1b2d1 .uagb-button__wrapper .uagb-buttons-repeater {
    font-weight: 600;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 40px;
    padding-right: 40px;
    color: #ffffff;
}

.wp-block-uagb-buttons .uagb-block-93c1b2d1 .uagb-button__wrapper .uagb-buttons-repeater.wp-block-button__link {
    box-shadow: 0px 0px 0 #00000026;
}

.wp-block-uagb-buttons .uagb-block-93c1b2d1 .uagb-button__wrapper .uagb-buttons-repeater.wp-block-button__link:hover {
    box-shadow: 0px 0px 0 #00000026;
}

.wp-block-uagb-buttons .uagb-block-93c1b2d1 .uagb-buttons-repeater.wp-block-button__link {
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    border-color: #333;
    border-style: none;
}

.wp-block-uagb-buttons .uagb-block-93c1b2d1 .uagb-buttons-repeater.wp-block-button__link:hover {
    border-color: #333;
}

.wp-block-uagb-buttons .uagb-block-93c1b2d1 .uagb-buttons-repeater.wp-block-button__link:focus {
    border-color: #333;
}

.wp-block-uagb-buttons .uagb-block-93c1b2d1.wp-block-button.is-style-outline .uagb-button__wrapper .wp-block-button__link.uagb-buttons-repeater {
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    border-color: #333;
    border-style: none;
}

.wp-block-uagb-buttons .uagb-block-93c1b2d1.wp-block-button.is-style-outline .uagb-button__wrapper .wp-block-button__link.uagb-buttons-repeater:hover {
    border-color: #333;
}

.wp-block-uagb-buttons .uagb-block-93c1b2d1 .uagb-buttons-repeater .uagb-button__link {
    color: #ffffff;
    font-weight: 600;
}

.wp-block-uagb-buttons .uagb-block-93c1b2d1 .uagb-buttons-repeater .uagb-button__icon > svg {
    width: 15px;
    height: 15px;
    fill: #ffffff;
}

.wp-block-uagb-buttons .uagb-block-93c1b2d1 .uagb-buttons-repeater .uagb-button__icon-position-after {
    margin-left: 8px;
}

.wp-block-uagb-buttons .uagb-block-93c1b2d1 .uagb-buttons-repeater .uagb-button__icon-position-before {
    margin-right: 8px;
}

.wp-block-uagb-buttons .uagb-block-93c1b2d1 .uagb-button__link {
    text-transform: normal;
    text-decoration: none;
    font-weight: 600;
}

@media only screen and (max-width: 976px) {
    .uagb-block-0a891d76.uagb-buttons__outer-wrap .uagb-buttons__wrap {
        justify-content: center;
        align-items: center;
    }

    .uagb-block-0a891d76.uagb-buttons__outer-wrap .uagb-buttons__wrap .wp-block-button {
        width: auto;
    }

    .wp-block-uagb-buttons .uagb-block-93c1b2d1.wp-block-button.is-style-outline .uagb-button__wrapper .wp-block-button__link.uagb-buttons-repeater {
        border-style: none;
        border-color: #333;
    }

    .wp-block-uagb-buttons .uagb-block-93c1b2d1 .uagb-buttons-repeater.wp-block-button__link {
        border-style: none;
        border-color: #333;
    }
}

@media only screen and (max-width: 767px) {
    .uagb-block-0a891d76.uagb-buttons__outer-wrap .uagb-buttons__wrap {
        justify-content: center;
        align-items: center;
    }

    .uagb-block-0a891d76.uagb-buttons__outer-wrap .uagb-buttons__wrap .wp-block-button {
        width: auto;
    }

    .wp-block-uagb-buttons .uagb-block-93c1b2d1.wp-block-button.is-style-outline .uagb-button__wrapper .wp-block-button__link.uagb-buttons-repeater {
        border-style: none;
        border-color: #333;
    }

    .wp-block-uagb-buttons .uagb-block-93c1b2d1 .uagb-buttons-repeater.wp-block-button__link {
        border-style: none;
        border-color: #333;
    }
}
